<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bridge - Ad Z send</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
    {% include 'partials/config_styles.html' %}
    <script src="{{ url_for('static', filename='custom_popup.js') }}"></script>
</head>
<body>
    {% include 'partials/settings_popup.html' %}

    <!-- Navbar -->
    {% include 'navbar.html' %}
</body>
</html>
